<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Gateway</title>

    <!-- Bootstrap -->
    <link href="/statics/css/bootstrap.css" rel="stylesheet" />
    <link href="/statics/css/login.css" rel="stylesheet" />
    <link href="/statics/css/font-awesome.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> -->
    <!--[endif]-->
</head>
<body>
<div class="form-signin" style="min-height: 480px;">

    <p class="form-signin-heading">
        您正在授权
        <a href="javascript:;">${client}</a>
        获取资料
    </p>

    <div class="form-group">
        <label for="username" class=" control-label">登录账号：</label>
        <div class="">
            <input id="username" name="username" type="text" class="form-control {required:true,minlength:11,maxlength:11}" placeholder="输入手机号码"  autofocus>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class=" control-label">登录密码：</label>
        <div class="">
            <input id="password" name="password" type="password" class="form-control" placeholder="你的登录密码" required>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class=" control-label">验证码：</label>
        <div class="">
            <input id="captcha" name="captcha" type="text" class="form-control" placeholder="验证码" required> <img src="/oauth/captcha">
        </div>
    </div>

    <div class="form-group">
        <div class=" ">
            <button id = "login" name = "login" type="submit" class="btn btn-primary">登录</button>&nbsp;&nbsp;&nbsp;&nbsp;<span id = "message" name = "message"></span>
        </div>
    </div>

    <div class="form-group text-muted small">
        <div>
            将允许 <a href="javascript:;">${client}</a> 进行以下操作：
        </div>
        <div style="margin-left: -20px;">
            <ol>
                <li>获取系统的基本信息</li>
            </ol>
        </div>
    </div>

</div>

<footer >
    <hr>
    <p class="text-muted text-center">© caitu99.com</p>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/statics/js/jquery.js"></script>
<script src="/statics/js/bootstrap.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/statics/js/jquery.validate.min.js"></script>
<script src="/statics/js/jquery.metadata.js"></script>
<script src="/statics/js/login.js"></script>
</body>
</html>